<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lesson 4.2</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <div class="wrp-img-1">
      <img class="imgs-1" src="img/big/{{ item }}" alt="Картинка {{ item }}" width="470">
      <a href="2-ok-all.php">На главную</a>
  </div>
</body>
</html>